<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="restAssuredAPISuite">
    <test name="restAssuredAPIRest" preserve-order="true" thread-count="1" parallel="false">
        <classes>
            <class name="testScripts.bookStoreApiTest"/>
            <class name="testScripts.createUserTest"/>
        </classes>
    </test>
</suite>